body {
    background-image: url('Background_page.jpg');
    background-size: cover;
  }
  
  .page-header {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
  }
  
  .title-bar-text{
    font-size: 20px;
    margin: 8px;
    color: white;
    font-weight: bold;
  }

  .page-navigation {
    border: 4px solid black;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 200px;
    padding: 10px 0;
    border-radius: 15px;

  }
  
  .offset-content {
    position: absolute;
    padding-left: 230px;
    top: 20px;
    width: 77%;
    z-index: -1000;
    
    
    }
  
  .offset-content .window {
    margin-bottom: 20px;
    border: 4px solid black;
    border-radius: 15px;
    position: absolute;


    
  }
  
  .content-view {
    width: 95%;
    padding: 20px;
  }
  
  
  
  button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: 2px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    padding: 10px 20px;
    width: 90%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

  p2{
    font-size: 18px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
  }
  h2{
    font-size: 36px;
    color: white;
    
  }
  h3{
    font-size: 36px;
    color: white;
    
  }
  h4{
    font-size: 24px;
    color: white;
    
  }
  h5{
    font-size: 28px;
    color: white; 
  }

  p3{
    font-size: 25px;
    font-family: arial, Arial, Helvetica, sans-serif;
  }

  img{
    height: 300px;
    width: 300px;
    float:left;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
    position:relative;
  }

  a.one{
    background-color: #f4511e;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial, Arial, Helvetica, sans-serif;
    border-radius: 15px;

    
}

c {
    background-color: white;
}
a.one:hover {
  background-color: rgb(162, 70, 0);
  color: white;
}
